body {
	background-color: #0414fd;
	color: rgb(12, 12, 12);
	font-size: 18px;
	padding: 8em;
}

main {
	margin: .25em;
	padding: .25em;
}

header {
	text-align: center;
	font-size: 40px;
}

a:link, a:visited, a:active {
	border: 2px solid lightblue;
	border-radius: 2px;
	color: #ffff00;
}

a:hover {
	background-color: #36ff04;
	color: #ffaa50;
}

table {
	border-spacing: 0;
	border-collapse: separate;
}

table td {
	background-color: #dd0000;
	border: 1px solid #000000;
	color: #ffaa50;
	margin: .50em;
	padding: .50em;
}

table tr {
	margin: .50em;
	padding: .50em;
}

.large-text {
	font-size: 1.5em;
}

.medium-text {
	font-size: 1.75em;
	border: double 24px white;
	text-align: center;

}

.favorite-thing {
	background-color: #ffffff;
	color: #000000;
	margin: 1.5em 0;
	padding: 1em;
}